body{
	overflow-x: hidden;
	background-color: #1e293e;
	font-family: cursive;
}
::-webkit-scrollbar{ width: 15px; /* 1 - вертикальный скроллбар */}
::-webkit-scrollbar-button {background: #2d3547; /* 2 - кнопка */}
::-webkit-scrollbar-track-piece { background:#4b5163; /* 4 – видимая часть трека */ }
::-webkit-scrollbar-thumb {background: #38394a; border-radius: 10px; 
 /* 5 - ползунок */}
::-webkit-scrollbar-arrow-color {background-color: aqua;}
/* Auth page CSS starts */
.auth-page{
	background: linear-gradient( #1e293e, #141e2d);
	height: 100%;
}

.auth-container {
	padding-top: 5%;
	width: 50%;
	margin: auto;
}
.auth{
	width: 400px;
	margin: auto;
	padding: 5%;
	border-radius: 5px;
	border: solid 2px #141e2d;
	color: #878fb3;
	background: linear-gradient(#2d3547, #38394a);
}

.auth-header-btn{
	width: 49%;
	background-color: #2d3547;
}

.login,
.register {
	padding: 1.5%;	outline: none;
}

.btn-primary{
	border-color: #459d7e;
	outline: none;
	}
	.btn-primary:hover{
		background-color:  #459d7e;
		border-color:#459d7e;
	}
	.btn-primary:active{
		background-color:  #459d7e !important;
		border-color:#459d7e !important;
		outline: none;		
	}	
	#bb{
		background-color: #196c56;
	}
	#bb:hover{
		background-color:  #459d7e;
		border-color:#459d7e;
	}

	


/* Auth page CSS ends */

/* Home page CSS starts */
.home-header {
	width: 100%;
	padding: 1% 1% 1% 1%;
	background: #141e2d;
	margin-bottom: 20px;
	color: #878fb3;
	text-align: center;
	font-weight: bold;
	size: 30px;
}


.home-body {
	width: 100%;
	height:85%;
	padding: 20px;
	background: linear-gradient( #1e293e, #141e2d, #1e293e);
	color: #99a2ca;
	border-color: #1e293e;
}

.logout-user{
	float: right;
	size: 120%;
	margin-top: 2%;
	cursor:pointer;
	color: #99a2ca;
	border-color: #99a2ca;
}
.i{
	padding: 1px;
	margin: 10px;
	text-align: left;
}

.message-container{
	padding: 20px 20px 20px 20px;
	background-color: #2b3d58;
	margin: 10px 0px 10px 10px;
	margin-right: 20px;
	border-radius: 5px;
}

.message-thread {
	overflow-y: scroll;
	list-style-type: none;
	height: 400px;
	width: 100%;
	border: solid 1px #2b3d58;
	margin: 0px !important;
	padding: 5px !important;
}

.message-thread li {
	max-width: 300px;
	border-color: solid 0.5px rgba(0, 0, 0, 0.32);
	clear: both;
	text-decoration: none;
	list-style-type: none;
	margin: 20px 10px 0px 20px;
	float: left;
	margin-right: 20px;
	padding: 25px 34px;
	min-width: 160px;
	min-height: 10px;
	max-width: 350px;
	border-radius: 7px;
	border:solid 1px #0000001f;
	background-color: #61b396;
	line-height: 1.4;
	word-wrap: break-word;
	color: #1e293e;
	text-align: left;
}
.message{
	background-color: #2b3d58;
	color: #878fb3;
	border: #2b3d58;
}
.message:focus{
	background-color:#4b5163;
	color: #99a2ca;
	border: #2b3d58;
}

.align-left {
	float: left !important;;
}
.align-right {
	float: right !important;;
}

.message-text{
	margin-top: 1%;
}


.chat-list-container {
	padding: 20px 20px 20px 20px;
}

.chat-list-heading {
	margin: 10px 10px 10px 0px;
}
.us{
scrollbar-arrow-color: #459d7e; /* Цвет стрелок */
    scrollbar-base-color: #2b3d58; /* Цвет полосы прокрутки */
    scrollbar-shadow-color: #fed189; /* Цвет тени */}
.chat-list{
	overflow-y: scroll;
	height: 400px;
	width: 100%;
	margin: 10px 10px 10px 10px;
	padding-right: 20px;
}

.chat-list li{
	cursor: pointer;
	background-color: #2b3d58;
}
.chat-list li:active{
	cursor: pointer;
	background-color: #4b5163;
}
.list-group-item:hover {
	background-color: #545b72 !important;
}
.list-group-item.active{
	cursor: pointer;
	background-color: #4b5163;
	border-color: #4b5163;
	color: #99a2ca;
}
